<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IRagialPoller" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57517/RagialPoller.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IRagialPoller" contract="RMMDataService.IRagialPoller"
                name="WSDualHttpBinding_IRagialPoller">
                <identity>
                    <userPrincipalName value="SCOTTSLENOVO\Scott" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>